<footer>
  <section class="footer">
    <div class="container">
      <div class="footer__nav">
        <div class="footer__column footer-1">
          <div class="footer__logo">
            <a href="">
              <img src="assets/img/svg/logo-f.svg">
            </a>
            <p class="footer__logo__descr">
              Профессиональная косметика и инструменты для красоты
            </p>
          </div>
          <div class="footer__yandex">
            <img src="assets/img/svg/yandex.svg">
            <p>© 2019 OLTU U
            </p>
            <a href="" class="footer__priv">Политика конфиденциальности</a>
            <a href="">Разработка сайта - Lab322.ru</a>
          </div>
        </div>
        <div class="footer__column footer-2">
          <a href="mailto:hello@oltuu.ru">
            hello@oltuu.ru
          </a>
          <div class="footer__time">
            <p>График работы:
            </p>
            <p>Пн-пт: с 09:30 до 20:00
            </p>
            <p>
              Сб-вс: с 10:00 до 19:00
            </p>
          </div>
        </div>
        <div class="footer__column footer-3">
          <ul>
            <li><a href="">О компании
            </a></li>
            <li><a href="">Гарантии качества</a></li>
            <li><a href="">Контакты</a></li>
            <li><a href="">Правила продажи</a></li>
            <li><a href="">Гарантийное обслуживание
            </a></li>
          </ul>
        </div>
        <div class="footer__column footer-3">
          <ul>
            <li><a href="">Покупателям
            </a></li>
            <li><a href="">Доставка</a></li>
            <li><a href="">Оплата</a></li>
            <li><a href="">Как сделать заказ</a></li>
            <li><a href="">Рассрочка
            </a></li>
            <a href="">Частным мастерам</a></li>
            <li><a href="">Оптовикам</a></li>
          </ul>
        </div>
        <div class="footer__column footer-4">
          <div class="footer-4__top">
            <p class="footer-4__header">
              Мы в соцсетях
            </p>
            <div>
              <a href="">
                <img src="assets/img/svg/facebook.svg">
              </a>
              <a href="">
                <img src="assets/img/svg/vk.svg">
              </a>
              <a href="">
                <img src="assets/img/svg/inst.svg">
              </a>
            </div>
          </div>
          <div class="footer-4__bottom">
            <p class="footer-4__header">
              Способы оплаты
            </p>
            <p class="footer-4__text">Заказ можно оплатить наличными при получении, либо выбрать другой способ
              оплаты.</p>
            <div>
              <img src="assets/img/svg/visa.svg">
              <img src="assets/img/svg/mc.svg">
              <img src="assets/img/svg/sb.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="footer__cont">
        <div class="cont__list">
          <div class="cont__item">
          <span>
            Бесплатно по России
          </span>
            <a href="">
              8 (800) 707-37-19
            </a>
          </div>
          <div class="cont__item">
          <span>
            Санкт-Петербург
          </span>
            <a href="">
              8 (812) 317-07-19
            </a>
          </div>
          <div class="cont__chat">
            <a href="">
              <img src="assets/img/svg/whatsapp.svg">
            </a>
            <div class="cont__item">
          <span>
            Чат в Whatsapp
          </span>
              <a href="">
                8 (812) 317-07-19
              </a>
            </div>
          </div>
          <div class="cont__chat">
            <a href="">
              <img src="assets/img/svg/viber.svg">
            </a>
            <div class="cont__item">
          <span>
            Чат в Viber
          </span>
              <a href="">
                8 (812) 317-07-19
              </a>
            </div>
          </div>
        </div>
        <button class="btn footer__btn" data-modal>
          Обратный звонок
        </button>
      </div>
      <p class="footer__text">Данный сайт носит информационный характер и не является публичной офертой, определяемой
        положениями ч. 2 ст. 437 ГК РФ</p>
    </div>
  </section>
</footer>
<div class="md">
  <div class="fixed-overlay modal-call-us">
    <div class="modal">
      <div class="modal-call">

        <div class="container">
          <div class="modal-call--wrap">
            <button data-close class="close">
              <img src="assets/img/svg/cross.svg">
            </button>
            <p class="modal-call__header">
              Обратный звонок
            </p>
            <form>
              <div class="order__inp">
                <input type="tel" placeholder="Ваш номер телефона">
              </div>
              <button class="btn">
                Отправить
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-overlay modal-pass">
    <div class="modal">
      <div class="modal-call">

        <div class="container">
          <div class="modal-call--wrap">
            <button data-close2 class="close">
              <img src="assets/img/svg/cross.svg">
            </button>
            <p class="modal-call__header">
              Сброс пароля
            </p>
            <form>
              <div class="order__inp">
                <label>
                  Сбросим новый пароль на почту
                </label>
                <input type="email" placeholder="Ваш email">
              </div>
              <button class="btn">
                Отправить
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-overlay modal-enter">
    <div class="modal1">
      <div class="modal-call1">

        <div class="container">
          <div class="modal-call--wrap">
            <button data-close3 class="close">
              <img src="assets/img/svg/cross.svg">
            </button>
            <p class="modal-call__header">
              Вход
            </p>
            <form>
              <div class="order__inp">
                <label>
                  Логин
                </label>
                <input type="text">
              </div>
              <div class="order__inp">
                <label>
                  Пароль
                </label>
                <input type="password">
              </div>
              <p>Напомнить пароль</p>
              <button class="btn">
                Войти
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


