<section class="top-header">
  <div class="container">
    <a href="">
      Скрываемый блок с акцией
    </a>
    <button class="top-header__btn">
      <img src="assets/img/svg/cross.svg">
    </button>
  </div>
</section>
<header>
  <div class="container">
    <h1 class="visually-hidden">Гильдия парикмахеров</h1>
    <section class="header__wrapper">
      <div class="header__mob-btns">
        <button class="call-btn"><img src="assets/img/svg/call.svg"></button>
        <form class="search-wrap search-form-mob">
          <input type="search" name="query" placeholder="Поиск..." value="" class="input__search-mob">
          <span class="search__clean-mob"></span>
        </form>
      </div>
      <nav class="header__nav">
        <a href="main.html">

          <picture>
            <source media="(max-width: 1023px)" srcset="assets/img/svg/logo-mob.svg">
            <source media="(min-width: 1024px)" srcset="assets/img/svg/logo.svg">
            <img src="assets/img/svg/logo.svg" alt="Гильдия парикмахеров" title="Гильдия парикмахеров">
          </picture>
        </a>
        <ul class="nav__list">
          <li>
            <a href="">
              Доставка
            </a>
          </li>
          <li>
            <a href="">
              Оптовикам
            </a>
          </li>
          <li>
            <a href="">
              Мастерам
            </a>
          </li>
          <li>
            <a href="">
              Магазин
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <div class="header__top">
          <div class="header__adv">
            <article class="header__adv-1">
              <img src="assets/img/svg/delivery-truck.svg">
              <p>Доставка по России</p>
            </article>
            <article class="header__adv-2">
              <img src="assets/img/svg/guarantee.svg">
              <p>Гарантия качества</p>
            </article>
            <article class="header__adv-3">
              <img src="assets/img/svg/coin.svg">
              <p>Заказы от любой суммы</p>
            </article>
          </div>
          <div class="header__btns">
            <!--            <form>-->
            <!--              <input type="search">-->
            <!--              <button type="submit">-->
            <!--                <img src="assets/img/svg/search.svg">-->
            <!--              </button>-->
            <!--            </form>-->
            <form class="search-wrap search-form">
              <input type="search" name="query" placeholder="Поиск..." value="" class="input__search">
              <span class="search__clean"></span>
            </form>
            <button class="btn entry-btn" data-modal3>
              Вход
            </button>
          </div>
        </div>
        <div class="header__bottom">
          <div class="header__cont">
            <article>
            <span>
              Бесплатно по России
            </span>
              <a href="">
                8 (800) 707-37-19
              </a>
              <button data-modal>
                Обратный звонок
              </button>
            </article>
            <article>
            <span>
              Санкт-Петербург
            </span>
              <a href="">
                8 (812) 317-07-19
              </a>
            </article>
            <article>
            <span>
              Пн-Пт: 09:30-20:00
            </span>
              <span>
              Сб-Вс: 10:00-19:00
            </span>
            </article>
          </div>
          <div class="header__cart">
            <a href="">
              <img src="assets/img/svg/cart.svg">
              <div>
                <p>
                  Корзина
                </p>
                <div class="header__cart__price">
                  <span class="header__cart__items">0</span>
                  <p>&nbsp;товаров
                    на сумму <span>222220</span>&nbsp;руб.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="header__burger">
          <button class="main-header__burger" type="button">
            <span class="visually-hidden">Бургер меню</span>
            <span></span><span></span><span></span>
          </button>
        </div>
      </div>
    </section>
  </div>
  <section class="header__bottom-nav header__bottom-nav-mob">
    <div class="container">
      <nav>
        <button class="header__bottom__btn">
          <p>Каталог</p>
          <img src="assets/img/svg/arrow-btm.svg">
        </button>
        <ul class="header__catalog">
          <li><a href="">Инструменты</a></li>
          <li><a href="catalog.html">Волосы</a></li>
          <li><a href="">Лицо</a></li>
          <li><a href="">Тело</a></li>
          <li><a href="">Ногти</a></li>
          <li><a href="">Для мужчин</a></li>
        </ul>
        <ul>
          <li><a href="">Новинки</a></li>
          <li><a href="sale.html">Акции</a></li>
          <li><a href="">Распродажа</a></li>
          <li><a href="">Бренды</a></li>
        </ul>
        <ul class="header__mon-catalog">
          <li><a href="">
            Магазин
          </a></li>
          <li><a href="">
            Доставка
          </a></li>
          <li><a href="">
            Оптовикам
          </a></li>
          <li><a href="">
            Мастерам
          </a></li>
          <li><a href="">
            Гарантия качества
          </a></li>
          <li><a href="">
            Личный кабинет
          </a></li>
        </ul>
      </nav>
    </div>
  </section>
</header>
<section class="header__bottom-nav">
  <div class="container">
    <nav>
      <ul class="header__catalog">
        <li><a href="">Инструменты</a></li>
        <li><a href="">Волосы</a></li>
        <li><a href="">Лицо</a></li>
        <li><a href="">Тело</a></li>
        <li><a href="">Ногти</a></li>
        <li><a href="">Для мужчин</a></li>
      </ul>
      <ul>
        <li><a href="">Новинки</a></li>
        <li><a href="">Акции</a></li>
        <li><a href="">Распродажа</a></li>
        <li><a href="">Бренды</a></li>
      </ul>
    </nav>
  </div>
</section>
