<section class="subscribe">
  <div class="container">
    <div class="subscribe__mob">
      <img src="assets/img/png/subsc.png">
    </div>
    <div class="subscribe__wrapper">
      <p class="subscribe__header">
        Подписка на новости
      </p>
      <form>
        <input type="email" placeholder="Ваш email">
        <div class="subscribe__btns">
          <button type="submit" class="btn sub-btn-1">Рассылка для женщин</button>
          <button type="submit" class="btn sub-btn-2">Рассылка для мужчин</button>
        </div>
      </form>
    </div>

  </div>
</section>
